/*mine*/


#info-box-c{
    height:100%;
    display:flex;
    flex-direction:column;
    .info-header-c{
        height:1rem;
        padding:0 0.5rem;
        font-size:0.2rem;
        line-height:1rem;
        box-shadow: 0 0 5px #000;
    }
    .info-main-c{
        flex:1;
        overflow:auto;
    }
}