/*sale*/



#header-c{
    height:0.4rem;
    position:relative;
    font-size:0.15rem;
    display:flex;
    align-items: center;
    justify-content: space-around;
    .hot-search-c{
        margin:0 0.4rem 0 0;
        .swiper-slide{
            width:auto;
            padding:0 0.1rem;
        }
    }
    .search-c{
        background: #fff;
        position:absolute;
        z-index: 10;
        right:0;
        top:0;
        width:0.4rem;
        font-size:0.18rem;
        font-weight: bold;
        line-height: 0.4rem;
        text-align: center;
    }
}
#main-c{
    flex:1;
    overflow:auto;
    #hui-c{
        height:0.1rem;
        background:#f2f4f7;
    }
    #temai-c{
        height:0.45rem;
        color:#3d3d3d;
        font-size:0.15rem;
        text-align:center;
        line-height:0.45rem;
        border-bottom: 1px solid #ebebeb;
    }
}

